input {
  background-color: #eeeeee;
  font-weight: bold;
}
input::placeholder {
  color: #9a9a9a;
  font-weight: bold;
  font-size: medium;
}

.box {
  border: none;
  border-bottom: 2px solid #07236b;
  width: 140px;
  height: 30px;
  text-align: center;
  font-size: large;
}

.hoverButton {
  text-align: center;
  background-color: #07236b;
  color: #ffffff;
  width: 125px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.2s;
}

.hoverButton:hover {
  background-color: #ffffff;
  color: #07236b;
}
