.cp_container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/companyPartner_backImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
}
.cp_title {
  padding-top: 1px;
  margin-top: 200px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  color: white;
}
.cp_title2 {
  padding-top: 1px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  color: white;
}
.cp_comentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center center;
}
.cp_btn {
  margin: 30px;
  text-align: right;
  float: right;
  background-color: transparent;
  border-style: solid;
  border-width: medium medium medium medium;
  border-color: white;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none;
  text-decoration-line: none;
}
.cp_coment {
  padding-top: 1px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  color: white;
}
.cp_btn p {
  margin: 10px 20px 10px 20px;

  color: white;
  text-decoration: none;
}
.cp_btn:hover {
  background-color: rgba(7, 35, 107, 1);
  color: white;
}
.cp_btn p:hover {
  color: white;

  text-decoration: none;
}
