.container {
  width: 100%;
  height: 100%;
  padding: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 300px;
  font-size: 30px;
  font-weight: bolder;
}
.content2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
.cp_btn {
  display: flex;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  border-style: solid;
  border-width: medium medium medium medium;
  border-color: rgba(7, 35, 107, 1);
  border-radius: 15px;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none;
  text-decoration-line: none;
  vertical-align: middle;
  width: 200px;
}
.cp_btn:hover {
  background-color: rgba(7, 35, 107, 1);
  color: white;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  /* 모바일 */
  .content1 {
    margin-top: 150px;
    font-size: 20px;
  }
  .content2 {
    margin-top: 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  /* 태블릿 */
}
