.listComponent {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
  font-weight: bold;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 2rem;
}
.listMainComment {
  margin-bottom: 10px;
  align-self: center;
}
.selectedArea {
  display: inline-block;
  color: red;
  font-size: 2.5rem;
}
.selectedAreaCounts {
  display: inline-block;
  color: red;
  font-size: 2.5rem;
  width: 70px;
  text-align: center;
}
.search {
  display: flex;
  align-items: center;
  padding: 0 3rem;
}
.searchInput {
  width: 80%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 20px;
  font-size: 1rem;
  margin-right: 0.8rem;
}
.clearSearchButtonContainer {
  display: flex;
  align-items: center;
  width: 72px;
  height: 32px;

}
.clearSearchButton {
  font-size: 20px;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.clearSearchButton:hover {
  opacity: 0.3;
}
.listTitle {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.listContainer {
  display: flex;
  flex-direction: column;
  height: 400px;
}
.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  text-align: center;
  cursor: pointer;
  height: 40px;
  font-size: 0.85rem;
}

.job:hover {
  color: gray;
}

.job:hover .deadline {
  background-color: rgba(69, 7, 107, 1);
  color: gray;
}

.deadline {
  display: inline-block;
  padding: 5px 10px;
  background-color: #2400FF;
  border-radius: 30px;
  color: white;
}

.deadlineContainer {
  flex: 1;
  padding: 0 1px;
}

.recrtTitle {
  flex: 1;
  font-size: 0.7rem;
  padding: 0 1px;

}
.oranNm {
  flex: 1;
  padding: 0 1px;


}

.workPlcNm {
  flex: 1;
  padding: 0 1px;

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.paginationButton {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.paginationButton:hover {
  background-color: #ddd;
}

.paginationButton.active {
  background-color: #0079d3;
  border-color: #0079d3;
  color: #fff;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .selectedAreaCounts {
    width: 53px;
  }
  .clearSearchButton {
    font-size: 12px;
  }
  .listMainComment {
    font-size: 1.5rem;
    text-align: center;
  }
  .oranNmTitle {
    display: none;
  }
  .oranNm {
    display: none;
  }
  .selectedArea {
    font-size: 2rem;
  }
  .selectedAreaCounts {
    font-size: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .clearSearchButton {
    font-size: 16px;
  }
}