* {
  box-sizing: border-box;
}
.goBack {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  background-color: #ffffff;
  padding: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
}
.goBack:hover {
  opacity: 0.6;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-left: 100px;
  padding-right: 100px;
}
.renderScreen {
  height: 550px;
}
.totalCounts {
  color: red;
}
.areaCountsComponent {
  height: 100%;
}
.areaCountsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}
.bigFont {
  font-size: 2.5rem;
  font-weight: bold;
}
.areaCount {
  width: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 55px;
}
.areaCount:hover {
  color: red;
  font-size: 1.5rem;
}
.areaName {
  flex: 1;
}
.count {
  flex: 2;
}
.mapContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}
.renderScreen {
  flex: 1;
}

/* 테블릿 크기 (가로 768px ~ 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* 테블릿 크기에 맞는 스타일 */
    .main {
        padding-left: 50px;
        padding-right: 50px;
    }
    .renderScreen {
        height: 350px;
    }
    .areaCount {
        width: 100%;
        font-size: 1rem;
        height: 40px;
    }
}

/* 모바일 크기 (가로 최대 767px) */
@media (max-width: 767px) {
    /* 모바일 크기에 맞는 스타일 */
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .renderScreen {
        height: 200px;
    }
    .areaCount {
        width: 100%;
        font-size: 0.8rem;
        height: 30px;
    }
}
