* {
  box-sizing: border-box;
}
.main {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc((100vh - 600px)/2);
  padding-bottom: calc((100vh - 600px)/2);
  padding-left: 100px;
  padding-right: 100px;
}
.totalCounts {
  color: red;
}
.areaCountsContainer {
  display: flex;
  flex-wrap: wrap;
}
.bigFont {
  font-size: 2.5rem;
  font-weight: bold;
}
.areaCount {
  width: 50%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.areaCount:hover {
  color: red;
}
.mapContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}
.renderScreen {
  flex: 1;
}