.relati {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.image {
  height: 80%;
}
.image > img{
  display: flex;
  align-items: center;
  height: 100%;
  object-fit: contain; 
  margin: 0 auto; 
}
.change_button {
  width: 60px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
}
.change_button:hover {
  transform: scale(1.2);
  transition: .3s ease-in-out;
}



@media (min-width: 768px) {
  .relati {
    height: 100%;
  }
}
