.relati {
  padding: 2;
}
* {
  padding: 0;
  margin: 0;
}

.image1 {
  width: 100%;
  height: 100vh;
  background: url(../img/useMethod1.png) no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.image2 {
  width: 100%;
  height: 50vh;
  background: url(../img/useMethod2.png) no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.image3 {
  width: 100%;
  height: 50vh;
  background: url(../img/useMethod3.png) no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

/*-----  */

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #1e3932;
  font-size: 1.1rem;
  width: 100%;
  height: 100vh;
  position: relative;
}
