* {
  margin: 0;
  padding: 0;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(7, 35, 107, 1);
  position: relative;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: center;
}
.navItem {
  display: flex;
  height: 100%;
  margin: 1px;
  align-items: center;
  padding: 10px;
  vertical-align: middle;
  left: 10%;
  color: white;
}
.navItem > a > img {
  height: 30px;
}
.navItemlogin p {
  height: auto;
  margin: 5px 20px 5px 5px;
  align-items: center;
  padding: 10px;
  vertical-align: middle;
  left: 10%;
  color: white;
  font-weight: bold;
  font-size: medium;
}
.navItemlogin p:hover {
  opacity: 0.3;
}
.logoutBtnContainer {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}
.logoutBtnContainer > a {
  color: white;
}
.logoutBtn {
  margin: 5px 20px 5px 5px;
  align-items: center;
  cursor: pointer;
}
.logoutBtn:hover {
  opacity: 0.3;
}

img {
  max-width: 100%;
  max-height: 100%;
}
